@{
    ViewData["Title"] = "Available Courses";
}

@model System.Collections.Generic.List<System.String>;
<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>


            <th scope="col">Sourses</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var e in @Model)
        {
                <tr>
                    <th scope="row">@e</th>
 

                </tr>
        }

        </tbody>
</table>




